.footer {
	display: flex;
	flex-wrap: wrap;
	//gap: 70px;
	align-items: baseline;
	justify-content: center;
	@include mq(tablet) {
		column-gap: 165px;
		align-items: baseline;
	}
}
.footer__logo {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: getColor(logo-color-text);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&-first-word {
		color: getColor(accent-color);
	}
	&-second-word {
		color: rgba(255, 255, 255, 1);
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			color: getColor(accent-color);
		}
	}
}

.footer__div1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer__address {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 29px;
	margin-bottom: 59px;
	@include mq(tablet) {
		margin-bottom: 60px;
	}
}
.footer__address--link {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-align: center;
	letter-spacing: 0.03em;
	color: #fff;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail-tel {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address--margin {
	margin-bottom: 12px;
	text-align: center;
}
.margin-bottom-none {
	margin-bottom: 0;
}

.footer__div2 {
	margin-bottom: 60px;
}
.footer__div2--text-be-in-us {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
	text-align: center;
}

/* dla stopki inny kwas - inne tło */
.footer__div2 .socials > li > a:hover,
.footer__div2 .socials > li > a:focus {
	background-color: getColor(accent-color);
}
.footer__div2 .socials > li > a {
	background-color: rgba(255, 255, 255, 0.1);
}
.footer__div2 .socials > li > a:hover,
.footer__div2 .socials > li > a:focus {
	background-color: getColor(accent-color);
}
/* dla stopki inny kwas ;)*/
.footer__div2 .socials__icons {
	fill: getColor(background-color);
}

.footer__div3 {
	width: calc(100% - 30px);
	@include mq(tablet) {
		width: 450px;
	}
}
.div3__newsletter-text-top {
	font-family: "Roboto";
	font-style: normal;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: getColor(secondary-text-color);
	margin-bottom: 20px;
	text-align: center;
}
.footer__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer__email {
	height: 50px;
	width: 100%;
	padding-left: 16px;
	margin-bottom: 20px;
	background-color: getColor(background-footer-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	color: rgba(255, 255, 255, 0.6);

	&:placeholder-shown {
		padding-left: 16px;
		//height: 47px;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.03em;
		color: rgba(255, 255, 255, 0.6);
	}
}

.footer__text-subscribe {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: getColor(secondary-text-color);
	padding-left: 27px;
}
.footer__icon-send {
	fill: rgba(255, 255, 255, 1);
}

.footer--background {
	background-color: getColor(background-footer-color);
	padding: 60px 0;
}

.socials-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.socials__icons-footer {
	width: 44px;
	height: 44px;
	fill: currentColor;
}

.socials-footer > li {
	width: 44px;
	height: 44px;
}

.socials-footer > li > a {
	color: rgba(255, 255, 255, 0.1);
}

.footer__button {
	height: 50px;
	width: 200px;
	background-color: getColor(accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	display: flex;
	align-items: center;
	text-align: center;
	gap: 25px;
}
