// .hero-layout {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	height: 600px;
// }

.hero__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 400px;
	padding-top: 118px;
	padding-bottom: 118px;
	@include mq(tablet) {
		padding-left: 150px;
		padding-right: 150px;
	}
	@include mq(desktop) {
		padding-left: 250px;
		padding-right: 250px;
		height: 600px;
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

.hero__text {
	//phone:
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0 auto;
	@include mq(desktop) {
		font-size: 44px;
		line-height: 1.36;
	}
}
.hero__dark-background {
	background-color: getColor(background-footer-color);
	//padding: 200px 0;
}
.hero {
	//phone:
	background-image: url("../images/overlay.png"), url("../images/header_img_phone_x1.jpg");
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: url("../images/overlay.png"), url("../images/header_img_phone_x2.jpg");
	}
	//tablet:
	@include mq(tablet) {
		background-image: url("../images/overlay.png"), url("../images/header_img_tablet_x1.jpg");
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: url("../images/overlay.png"), url("../images/header_img_tablet_x2.jpg");
		}
	}
	//desktop:
	@include mq(desktop) {
		background-image: url("../images/overlay.png"), url("../images/header_img_desktop_x1.jpg");
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: url("../images/overlay.png"), url("../images/header_img_desktop_x2.jpg");
		}
	}

	background-position: 50% 50%;
	background-color: getColor(background-section);
	background-size: cover;
	max-width: 1600px;
	// height: 400px;
	margin: 0 auto;
	background-repeat: no-repeat;
	border: 1px solid #000000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero__button {
	background-color: getColor(accent-color);
	color: getColor(secondary-text-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	font-family: inherit;
	text-align: center;
	margin: 0 auto;
	padding: 10px 42px;
	transform: scale(1);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: #000;
		transform: scale(1.1);
	}
}
