.menu-toggle {
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.header__nav--margin,
	.header__right {
		display: none;
	}
}

.menu-toggle:hover,
.menu-toggle:focus {
	//background-color: rgba(0, 0, 0, 0.1);
	color: getColor(accent-color);
}
//.menu-container .menu-toggle - oryg...
.menu-toggle {
	position: absolute;
	top: 16px;
	right: 16px;
	//color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	.header__right {
		flex-wrap: wrap;
		row-gap: 10px;
		margin-left: calc(100vw - 680px);
	}
}
