header a:hover,
footer a:hover,
menu:hover {
	color: getColor(accent-color);
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;

	@media screen and (max-width: 1199px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
.no-padding-top {
	padding-top: 0;
}

.container {
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;

	@include mq(phone) {
		width: 480px;
	}
	@include mq(tablet) {
		width: 768px;
	}
	@include mq(desktop) {
		width: 1200px;
	}
}

header nav ul {
	display: flex;
	align-items: center;
	gap: 40px;
}

.section__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: getColor(main-text-color);
	margin-bottom: 50px;
}
